* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #140024;
  color: white;
}

body {
  background-color: inherit;
  color: inherit;
}

/* LIGHT MODE */
html[data-theme="light"] {
  background-color: #b6b7ba;
  color: #0f172a;
}

/* React Select fixes */
.css-sl4pg4-control {
  width: 60% !important;
}
.css-b62m3t-container {
  width: 70%;
}
.css-1mi3hag-control {
  width: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
